body {
  background-color: #23272a;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.brandLogoContainer {
  display: flex;
  justify-content: center;
}

.brandLogo {
  width: 30%;
  min-width: 20rem;
}
